<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>


    <main>
       <h1><%= titulo %></h1>
       
       <section class="section">
            <% numbers.forEach(number => { %>
                <a href="detail/<%= number.id %>">
                    <%- include('./partials/articleNumber',{number}) %>
                </a>
            <% }) %>
      </section> 
    </main>

   <%- include('./partials/footer')%>

</body>
</html>